<h2>Dashboard</h2>


<div class="col-md-8">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#batch" aria-controls="batch" role="tab" data-toggle="tab">Batches</a></li>

    <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Students</a></li>

    <li role="presentation"><a href="#confirmed" aria-controls="confirmed" role="tab" data-toggle="tab">Confirmed</a></li>

    <li role="presentation"><a href="#notConfirmed" aria-controls="notConfirmed" role="tab" data-toggle="tab">Not Confirmed</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="batch">   	
    	<%= link_to "Add batch", new_batch_path, class: "btn btn-info" %>
    	<table class="table table-striped">
		  <tr>
		  	<th>Name</th>
		  	<th>Start Date</th>
		  	<th>End Date</th>
		  	<th>No. of students</th>
		  	<th></th>
		  </tr>
		  <%@batches.each do |batch|%>
		  <tr>
		  	<td><%= batch.name%></td>
		  	<td><%= batch.start_date%></td>
		  	<td><%= batch.end_date %></td>
		  	<td><%= batch.users.count %></td>
		  	
		  </tr>
		  <%end%>
		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="all">
    	<table class="table table-striped">
		  <tr>
		  	<th>Name</th>
		  	<th>Email</th>
		  	<th>Batch</th>
		  	<th>Status</th>
		  	<th></th>
		  </tr>
		  <%@students.each do |student|%>
		  <tr>
		  	<td><%= student.name%></td>
		  	<td><%= student.email%></td>
		  	<td>
		  		<%#if student.batch%>
		  			<%# student.batch%>
		  		<%#end%>
		  	</td>
		  	<td>
		  		<%if student.is_confirmed == true%>
		  			Confirmed
		  		<%else%>
		  			Not Confirmed
		  		<%end%>		
		  	</td>
		  	<td>
		  		<button class="btn btn-success">Confirm</button>
		  	</td>
		  </tr>
		  <%end%>
		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="confirmed">
    	<table class="table table-striped">
		  <tr>
		  	<th>Name</th>
		  	<th>Email</th>
		  	<th>Batch</th>
		  	<th>Status</th>
		  </tr>
		  <%@students_confirmed.each do |student|%>
		  <tr>
		  	<td><%= student.name%></td>
		  	<td><%= student.email%></td>
		  	<td>
		  		<%#if student.batch%>
		  			<%# student.batch%>
		  		<%#end%>
		  	</td>
		  	<td>
		  		<%if student.is_confirmed == true%>
		  			Confirmed
		  		<%else%>
		  			Not Confirmed
		  		<%end%>		
		  	</td>
		  </tr>
		  <%end%>
		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="notConfirmed">
    	<table class="table table-striped">
		  <tr>
		  	<th>Name</th>
		  	<th>Email</th>
		  	<th>Batch</th>
		  	<th>Status</th>
		  </tr>
		  <%@students_not_confirmed.each do |student|%>
		  <tr>
		  	<td><%= student.name%></td>
		  	<td><%= student.email%></td>
		  	<td>
		  		<%#if student.batch%>
		  			<%# student.batch%>
		  		<%#end%>
		  	</td>
		  	<td>
		  		<%if student.is_confirmed == true%>
		  			Confirmed
		  		<%else%>
		  			Not Confirmed
		  		<%end%>		
		  	</td>
		  </tr>
		  <%end%>
		</table>
    </div>
  </div>

</div>
