<row class="col-md-4">
	<h3>Edit batch - <%= @batch.name %></h3>

	<%= form_for @batch do |f| %>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control", autofocus: true %>
		</div>

		<div class="form-group">
			<%= f.label "Select course" %>
			<%= f.collection_select :course_id, Course.all, :id, :title,prompt: "Select a course", class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :start_date %>
			<%= f.date_field :start_date, class: "form-control"%>
		</div>

		<div class="form-group">
			<%= f.label :end_date %>
			<%= f.date_field :end_date, class: "form-control"%>
		</div>

		<div class="form-group">
			<%= f.submit "Submit", class: "btn btn-success"%>
			<%= link_to "Cancel", batches_path, class: "btn btn-default" %>			
		</div>

	<%end%>
	
</row>
