<div class="page-header">
  <h3><%= @batch.name %> <small><%= @batch.course.title %></small> </h3>  
</div>
<div class="row">

  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th >Name</th>
        <th>Email</th>
        <th>Course Fee</th>
        <th>Balance Fee</th>
        <th></th>
      </tr>
      <%@batch.users.each_with_index do |student,i|%>
      <tr class="accordion-toggle">
        <td data-toggle="collapse" data-target="#collapse<%= i %>"><%= i+1 %></td>
        <td data-toggle="collapse" data-target="#collapse<%= i %>"> <b><%= student.name %></b> </td>
        <td data-toggle="collapse" data-target="#collapse<%= i %>"><%= student.email%></td>
        <% batch_student = BatchStudent.find_by(batch: @batch, user: student) %>
        
        <td > <!-- Course Fee start -->  
          <% if batch_student.fee %>
            Rs. <%= batch_student.fee %>
          <%end%>

          <!-- Start of update fee button -->
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#updateFee<%= batch_student.id %>">Update 
          <%if batch_student.fee.nil? %>
          Total Fee
          <%end%></button>

          <!-- Modal -->
          <div id="updateFee<%= batch_student.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Update fee for <%= student.name %></h4>
                </div>
                <div class="modal-body">
                  <%= form_tag(batch_path(@batch),method: "get", class: "form-inline") do %>
                    Total fee : Rs.
                    <%= text_field_tag :fee, params[:fee], class: "form-control" %>
                    <%= hidden_field_tag :batch_student, batch_student.id %>
                    <%= submit_tag "Update", class: "btn btn-default" %>
                  <%end%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>  
          <!-- End of Update fee button -->
        </td> <!-- Course Fee end -->

        <td data-toggle="collapse" data-target="#collapse<%= i %>"> <!-- balance fee starts -->
          <%if !batch_student.installments.empty? %>
            
            <% balance = batch_student.fee - batch_student.installments.sum('amount') %>
            <%if balance <= 0 %>
              No more dues!
            <%else%>
              Rs. <span id="balanceFee"><%= balance %></span>
            <%end%>
            
          <%elsif !batch_student.fee.nil? %>
            Rs. <%= batch_student.fee %>
          <%end%>
        </td> <!-- balance fee ends -->

        <td>
          <!-- Start of send mail button -->
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#requestPay<%= batch_student.id %>">Request Payment</button>

          <!-- Modal -->
          <div id="requestPay<%= batch_student.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Request Payment from <%= student.name %></h4>
                </div>
                <div class="modal-body">
                  <%= form_tag(batches_payment_mail_path, method: "get", class: "form-inline") do %>
                    <div id="errorRequest" ></div>
                    Amount to request :
                    <%= text_field_tag :request_fee, params[:request_fee],class: "form-control", id: "requestFee" %>
                    <%= hidden_field_tag :send_mail, true %>
                    <%= hidden_field_tag :batch_student, batch_student.id %>
                    <%= submit_tag "Send Mail",class: "btn btn-primary",id: "sendMail" %>
                    <span id="mailText" class="hidden red-text">Amount exceeds balance due!</span>
                  <%end%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseMail">Close</button>
                </div>
              </div>

            </div>
          </div>  
          <!-- End of send mail button -->          
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4">
          <div id="collapse<%= i %>" class="collapse out ">
                <h4>Payments</h4>
                <% batch_student.installments.each do |installment|%>
                  <%= batch_student.user.name %> paid Rs.<%= installment.amount %> on <%= installment.created_at.to_date %> <br>
                <%end%>
                <%if batch_student.installments.empty? %>
                  <p>No payments recorded!</p>
                <%end%>
          </div>
        </td>
        <td></td>
      </tr>

      <%end%>
    </table>
  </div>

  <div class="col-md-4">
    <h4>Add students to batch</h4>
    <%= form_for @batch do |f|%>
      <div class="form-group" >
         
        <%= f.collection_select :user_ids, User.all, :id, :name_email_select ,{prompt: ""}, {class: "chosen-select", multiple: true} %>

         <%= f.submit "Add students", class: "btn btn-primary" %> 
      </div>

      <script>
              $(document).ready(function(){
            $('#requestFee').on("keyup", function () {
              if(Number($(this).val()) > Number($('#balanceFee').text())) {
                $('#sendMail').addClass("hidden");
                $('#mailText').removeClass("hidden");
              }
              else{
               $('#sendMail').removeClass("hidden");
               $('#mailText').addClass("hidden"); 
              }
          });
            });
      </script>
     
    <%end%>
  </div>  

</div>

