<div class="page-header">
  <h3><%= @batch.name %></h3>  
</div>

<div class="row">

  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course Fee</th>
        <th>Balance Fee</th>
        <th></th>
      </tr>
      <%@batch.users.each_with_index do |student,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= student.name %></td>
        <td><%= student.email%></td>
        <% batch_student = BatchStudent.find_by(batch: @batch, user: student) %>
        <td>
          <!-- Start of update fee button -->
          <% if batch_student.fee %>
            Rs. <%= batch_student.fee %>
          <%end%>


          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#updateFee<%= batch_student.id %>">Update 
          <%if batch_student.fee.nil? %>
          Total Fee
          <%end%></button>

          <!-- Modal -->
          <div id="updateFee<%= batch_student.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Update fee for <%= student.name %></h4>
                </div>
                <div class="modal-body">
                  <%= form_tag(batch_path(@batch),method: "get", class: "form-inline") do %>
                    Total fee : Rs.
                    <%= text_field_tag :fee, params[:fee], class: "form-control" %>
                    <%= hidden_field_tag :batch_student, batch_student.id %>
                    <%= submit_tag "Update", class: "btn btn-default" %>
                  <%end%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>  
          <!-- End of Update fee button -->
        </td>

        <td>
          <%if !batch_student.installments.empty? %>
            
            <% balance = batch_student.fee - batch_student.installments.sum('amount') %>
            Rs. <%= balance %>
          <%else%>
            Rs. <%= batch_student.fee %>
          <%end%>
        </td>

        <td>
          <!-- Start of send mail button -->

          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#requestPay<%= batch_student.id %>">Request Payment</button>

          <!-- Modal -->
          <div id="requestPay<%= batch_student.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Request Payment from <%= student.name %></h4>
                </div>
                <div class="modal-body">
                  <%= form_tag(batches_payment_mail_path, method: "get", class: "form-inline",id: "formPayMail") do %>
                    Amount to request :
                    <%= text_field_tag :request_fee, params[:request_fee],class: "form-control" %>
                    <%= hidden_field_tag :send_mail, true %>
                    <%= hidden_field_tag :batch_student, batch_student.id %>
                    <%= submit_tag "Send Mail",class: "btn btn-primary" %>
                  <%end%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseMail">Close</button>
                </div>
              </div>

            </div>
          </div>  
          <!-- End of send mail button -->          
        </td>
      </tr>
      <%end%>
    </table>
  </div>

  <div class="col-md-4">
    <h4>Add students to batch</h4>
    <%= form_for @batch do |f|%>
      <div class="form-group" >
         
        <%= f.collection_select :user_ids, User.all, :id, :name,{prompt: ""}, {class: "chosen-select", multiple: true} %>

         <%= f.submit "Add students", class: "btn btn-primary" %> 
      </div>

      <script>
         $(".chosen-select").chosen({
            /*max_selected_options: 2,*/
            width: "100%",
            placeholder_text_multiple: "Choose students.."

          });

         var formPayMailHandle = document.getElementById('formPayMail');
         var btnCloseMailHandle = document.getElementById('btnCloseMail');
         formPayMailHandle.onsubmit = function(){
          btnCloseMailHandle.click();
          alert("Successfully send mail!");
         }

      </script>
     
    <%end%>
  </div>  

</div>

