<!DOCTYPE html>
<html>
<head>
  <title>Dctportal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%if user_signed_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">DCT Pay</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li >
          <%if can? :manage, :all %>
            <a href="/admin/batches">Batches <span class="sr-only">(current)</span></a>
          <%else%>
            <a href="/home/my_batches">My Batches <span class="sr-only">(current)</span></a>
          <%end%>
        </li>

        <li>
          <%if can? :manage, :all %>
            <a href="/admin/users">Students</a>
          <%else%>
            <a href="/home/my_payments">My Payments</a>
          <%end%>
          
        </li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %> 
        	<li><%= link_to current_user.name %></li>
        	<li><%= link_to "Account Settings", edit_user_registration_path %></li>
        	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		<%else%>
			<li><%= link_to "Login", new_user_session_path %></li>
			<li><%= link_to "Signup", new_user_registration_path %></li>
		<%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%end%>


<div class="container">

<%if !(request.fullpath == new_user_session_path) %>
  <%if notice %>
   	<p class="alert alert-success" role="alert"><%= notice %></p>
  <%elsif alert %> 
   	<p class="alert alert-danger" role="alert"><%= alert %></p>
  <%end%>
<%end%>

<%= yield %>	
</div>


</body>
</html>
